<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<div class="row">
  <div class="large-10 columns">
    <strong>Users:</strong><br>
    <%= @team.users.map{|u| link_to(u.name,u)}.join(', ').html_safe %>
  </div>
</div>

<br>

<%= render 'shared/proj_list', projects: @team.projects %>

<br>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', :back %>
