<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Estimate:</strong>
  <%= @task.estimate %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @task.completed_at %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project %>
</p>

<p>
  <strong>Reporter:</strong>
  <%= @task.reporter %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @task.owner %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
