<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-9 columns">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="large-3 columns">
      <%= f.label :due_date %><br>
      <%= f.text_field :due_date, class: 'datepicker' %>
    </div>

    <%= f.hidden_field :team_id, value: current_user.team_id if @project.id.nil? %>

  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
