<div class="row">
  <div class="large-12 columns">
    <strong>Name:</strong><br>
    <%= @project.name %>
  </div>
</div>

<br>

<div class="row">
  <div class="large-6 columns">
    <strong>Completed at:</strong><br>
    <%= if @project.complete?
      Formatter.format_time(@project.completed_at)
    else
      if @project.completable?
        link_to('mark complete!', complete_project_path(@project))
      else
        '<a class="disabled">cannot complete with open tasks</a>'.html_safe
      end
    end %>
  </div>

  <div class="large-6 columns">
    <strong>Team:</strong><br>
    <%= link_to(@project.team_name, @project.team) %>
  </div>
</div>

<br>

<div class="row">
  <div class="large-10 columns">
    <strong>Tasks:</strong>
  </div>
  <div class="large-2 columns">
    <%= link_to(new_task_path(task: {project_id: @project.id, parent_id: nil})) do -%>
      <span class="button secondary tiny">New Task</span>
    <%- end -%>
  </div>
</div>
<hr>
<div class="row">
  <div class="large-12 columns">
    <%- @project.tasks.roots.each do |task| -%>
      <%= render('shared/task_list', task: task) -%>
    <%- end -%>
  </div>
</div>
